body,
html {
  padding: 0;
  margin: 0;
}
.pp-section.pp-table {
  display: inline-block;
  vertical-align: middle;
}
.section {
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.owl-carousel {
  justify-content: center;
}
#slide-1 {
  background-image: url("../../assets/images/bg-1.jpeg");
}
#slide-2 {
  background-image: url("../../assets/images/bg-2.jpeg");
}
#slide-3 {
  background-image: url("../../assets/images/bg-3.jpeg");
}
#slide-4 {
  background-image: url("../../assets/images/bg-4.jpeg");
}
.section h2 {
  font-size: 12vw;
  text-shadow: 0 4px 16px rgba(0, 0, 0, 0.5);
}
.img-size {
  width: 16vw !important;
}

.color-selection {
  position: fixed;
  display: flex;
  left: 20%;
  bottom: 7%;
  z-index: 200000;
}

.borders {
  border: 2px solid #fff;
  border-radius: 50%;
  width: 12px;
  margin: 0 6px;
  height: 12px;
  cursor: pointer;
}

.color-selection .active {
  background-color: #000000;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  z-index: 2000;
}

.owl-carousel .item {
  text-align: center;
}

.owl-carousel .item > img {
  margin: 20% 65%;
}

/* Media Query */
@media (max-width: 992px) {
  #slide-1 .img-size {
    width: calc(90% / 2.5) !important;
  }

  #slide-2 .img-size {
    width: calc(90% / 2.5) !important;
  }

  #slide-3 .img-size {
    width: calc(90% / 2.5) !important;
  }

  #slide-4 .img-size {
    width: calc(90% / 2.5) !important;
  }

  #slide-5 .img-size {
    width: calc(90% / 2.5) !important;
  }

  #slide-6 .img-size {
    width: calc(90% / 2.5) !important;
  }
  /* .owl-carousel .item > img {
    margin: 20% 32%;
  } */
  .img-size {
    width: 70vw !important;
  }
}

@media (max-width: 412px) {
  .color-selection {
    position: fixed;
    left: 9%;
    bottom: 6%;
  }
}
/* ------------------------ Filters ---------------------- */

.bg-color-filter-1 {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

.bg-color-filter-2 {
  -webkit-filter: contrast(200%);
  filter: contrast(200%);
}

.bg-color-filter-3 {
  -webkit-filter: saturate(6);
  filter: saturate(6);
}

.bg-color-filter-4 {
  -webkit-filter: hue-rotate(90deg);
  filter: hue-rotate(90deg);
}
